.container {
  width: calc(100vw - 18px);
  height: 100%;
  background: #fff;
  background-image: url('/images/icons.svg');
  border-radius: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.containerLogin {
  background: #f0f0f1;
  box-shadow: 0 0 15px #e1e1e6;
  border-radius: 20px;
  padding: 25px 30px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}

.containerLogin h1 {
  font-size: 32px;
  font-weight: bold;
  color: #191622;
  margin: 0 0 25px 0;
  padding: 0;
}

.containerInput {
  display: flex;
  position: relative;
  align-items: center;
  width: 300px;
}

.containerInput input {
  font-size: 16px;
  width: 100%;
  outline: 0;
  border: 0;
  padding: 20px 0;
  padding-left: 50px;
  border-radius: 10px;
  background: #f8f8f8;
  box-shadow: 0 0 2px #e5def0;
  transition: box-shadow 0.4s, background 0.4s;
  border: 1px solid #f8f8f8;
}

.containerInput input:focus {
  box-shadow: 0 0 6px #e5def0;
  border: 1px solid #896ab911;
  background: #fff;
}

.containerInput svg {
  opacity: 0.5;
  position: absolute;
  left: 0;
  margin: 0 10px;
}

.button {
  background: #e5def0;
  color: #896ab9;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid #896ab911;
  border-radius: 10px;
  font-size: 16px;
  padding: 15px 30%;
  margin-top: 25px;
  cursor: pointer;
  transition: filter 0.4s;
}

.button:hover {
  filter: brightness(80%);
}

.containerSocial {
  display: flex;
  align-items: center;
  gap: 15px;
}

.containerSocial a svg {
  transition: filter 0.4s;
}

.containerSocial a:hover svg {
  filter: brightness(375%);
}

.containerSocial hr {
  background: #191622;
  width: 3px;
  height: 45%;
}
